@media (min-width:750px)
{
    /* Denne css-koden gjelder bare når browservinduet er bredere enn 750 px;*/
    body
    {
        margin-right: auto;
        margin-left: auto;
        width: 750px;
    }
}

/* Denne css-koden gjelder uansett hvor bredt browservinduet er */

body
{
	font-family:sans-serif;
}

h1
{
	font-size:40px; 
}

h2
{
	font-size: 30px;
}

h3
{
	font-size:25px; 
}
