@media screen and (min-width:750px)
{
    /* Denne css-koden gjelder bare når browservinduet er bredere enn 750 px;*/
    body
    {
        margin-right: auto;
        margin-left: auto;
        width: 750px;

    }

    figure {
        width: 35%;
        float: right;
    }

    h3 {
        /* Sørg for at bilder ikke havner ved siden av underskrifter */
        content: "";
        clear: both;
    }

}

@media screen and (max-width:750px)
{
    /* Denne css-koden kjører hvis browservinduet er mindre enn 750 px; */
    figure {
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 20px;
    }
    
}

@media print {
    /* Dette gjelder bare når siden skal skrives ut */
    figure {
        display: none;
    }
}

/* Denne css-koden gjelder uansett hvor bredt browservinduet er */

figure img {
    width: 100%;
}

body
{
	font-family:sans-serif;
}

h1
{
	font-size:40px; 
}

h2
{
	font-size: 30px;
}

h3
{
	font-size:25px; 
}

