
@media screen and (min-width:960px)

{
    /* Denne css-koden gjelder bare når browservinduet er bredere enn 960 px;*/
    body
    {
        margin-right: auto;
        margin-left: auto;
        width: 960px;

    }

    .funnel form, .funnel .result {
        width: 472px; /* (960px - 16px) / 2 */
        float: left;
    }

    .funnel form {
        margin-right: 16px;
    }

    .funnel:after {
        /* Setter inn et tomt element som sørger for at begge kolonnene i
           .funnel «tar opp» like mye høyde i layouten. */
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .funnel {
        margin-bottom: 16px;
    }
}

@media screen and (max-width:960px)
{
    /* Denne css-koden kjører hvis browservinduet er mindre enn 960 px; */
}

body
{
    font-family:sans-serif;
}

.inspirasjonsside img
{
    width:100%;
    margin-right:5px;
}

/*  All  css som  begynner  med .funnel  (engelsk  for  trakt) er  til
    inspirasjonstesten på forsiden. */

.funnel input {
    display: none;
}

.funnel input:checked + label { /* leses «label-elementet rett etter input-elementet som er valgt.» */
    font-weight: bold;
}
