
@media screen and (min-width:960px)

{
    /* Denne css-koden gjelder bare når browservinduet er bredere enn 960 px;*/
    body
    {
        margin-right: auto;
        margin-left: auto;
        width: 960px;

    }

    .funnel form, .funnel .result, .funnel .more {
        box-sizing: border-box;
        width: 472px; /* (960px - 16px) / 2 */
        float: left;
    }

    .funnel form {
        margin-right: 16px;
    }

    .funnel .more {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .funnel:after, .forsiden .activities ul:after {
        /* Setter inn et tomt element som sørger for at alle kolonnene «tar
           opp» like mye høyde i layouten. Beskrevet her (bare at jeg
           ikke har implementert ie7-kompabilitet):
           http://www.positioniseverything.net/easyclearing.html */
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .funnel {
        position: relative; /* Gjør at .next blir posisjonert riktig */
        margin-bottom: 16px;
    }


    .forsiden .activities .activity {
        float: left;
        width: 234px; /* ( 960px - 8px / 3 ) / 4 */
        margin-right: 8px;
    }

    .forsiden .activities li:nth-child(4n) .activity {
        margin-right: 0px;
    }

    .forsiden .activities .activity img {
        max-height: 131.625px; /* 234px * 9 / 16 */
    }

    .kostholdskarusellen ul {
        padding-left: 20px;
        list-style-type: square;
    }

    .kostholdskarusellen figure {
        float: left;
        width: 240px; /* 960px / 4 */
        margin: 0px;
        margin-right: 16px;
    }

    .kostholdskarusellen blockquote {
        margin-left: 256px; /* 960px / 4 + 16px*/
    }

    .kostholdskarusellen article {
        /* http://www.quirksmode.org/css/clearing.html */
        overflow: hidden;
        width: 100%;
    }
}

@media screen and (max-width:960px)
{
    /* Denne css-koden kjører hvis browservinduet er mindre enn 960 px; */

    .kostholdskarusellen *:not(li) ul {
        padding-left: 0px;
        list-style-type: none;
    }

    .kostholdskarusellen *:not(li) li {
        margin-top: 16px;
    }

    .kostholdskarusellen figure, .kostholdskarusellen blockquote {
        box-sizing: border-box;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

body
{
    font-family:sans-serif;
}

.inspirasjonsside figure {
    margin: 0px;
}

.inspirasjonsside > img, .inspirasjonsside figure > img
{
    width:100%;
}

/*  All  css som  begynner  med .funnel  (engelsk  for  trakt) er  til
    inspirasjonstesten på forsiden. */

.funnel input {
    display: none;
}

.funnel fieldset {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    margin: 0px;
    margin-top: 16px;
    padding: 0px;
    border: 0px;
}

.funnel fieldset:first-child {
    margin-top: 0px;
}

.funnel label {
    display: block;
    width: 50%;
    float: left;
    padding: 8px;
    border: 1px solid #aaaaaa;
    margin: 0px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    margin-right: -1px;
    padding-right: 9px;
}

.funnel label:nth-of-type(1) {
    border-right: 1px;
    margin-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.funnel label:nth-last-of-type(1) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.funnel input:checked + label { /* leses «label-elementet rett etter input-elementet som er valgt.» */
    font-weight: bold;
    background-color: #ccc;
}


.funnel .more {
    text-align: center;
}

.funnel .next {
    display: inline-block;
    padding: 8px;
    border: 1px solid #aaaaaa;
    margin: 0px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.funnel .more.disabled {
    visibility: hidden;
}

.forsiden .activities ul {
    padding: 0px;
}
.forsiden .activities li {
    list-style-type: none;
}

.forsiden .activity {
    text-align: center;
}

.forsiden .activity img {
    max-width: 100%;
}

/* Blockquote styling inspirert av http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */

.kostholdskarusellen blockquote:before {
    content: open-quote;
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.kostholdskarusellen blockquote {
    background-color: #f6f6f6;
    border-left: 10px solid #cccccc;
    quotes: "\201C""\201D""\2018""\2019";
    margin-top: 16px;
    padding: 0.5em 10px;
    margin-right: 0px;
}

.kostholdskarusellen blockquote p:first-child {
    display: inline;
}

.kostholdskarusellen figure > img {
    width: 100%;
}

.kostholdskarusellen figure .attribution .cc-badge {
    float: right;
}

.kostholdskarusellen figure .attribution {
    font-size: 14px;
}

.kostholdskarusellen form {
    width: 100%;
    text-align: center;
}

.kostholdskarusellen form button {
    font-size: 24px;
}

/* For animasjon av kostholdskarusellen tok jeg utgangspunkt i denne
   artikkelen: http://24ways.org/2010/intro-to-css-3d-transforms/

   Jeg forsøkte først å bare bruke deler, men møtte problemer med at
   baksiden av flippede elementer ble vist i tide og utide. Til slutt
   la jeg meg tett opp til implementajsonen i artikkelen (spesielt med
   tanke på hvordan wrapper-elementer er brukt), og fikk det til å
   fungere.

   -Matias
*/

.kostholdskarusellen main section {
    position: relative;
    width: 100%;
    /* height settes i javascript */

    perspective: 1500px;
    transition-property: height;
    transition-duration: 400ms;

    -webkit-perspective: 1500px;
    -webkit-transition-property: height;
    -webkit-transition-duration: 400ms;

    -moz-perspective: 1500px;
    -moz-transition-property: height;
    -moz-transition-duration: 400ms;
}

.kostholdskarusellen .flipper {
    width: 100%;
    height: 100%;
    position: absolute;

    transform-style: preserve-3d;
    transition-property: -moz-transform;
    transition-duration: 400ms;
    timing-function: linear;

    -webkit-transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 400ms;
    -webkit-timing-function: linear;

    -moz-transform-style: preserve-3d;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 400ms;
    -moz-timing-function: linear;
}

.kostholdskarusellen article.front, .kostholdskarusellen article.back {
    display: block;
    position: absolute;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.kostholdskarusellen article.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.kostholdskarusellen .flipper.flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.kostholdskarusellen article {
    display: none;
}

